@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Poppins&family=Varela+Round&display=swap');.text {
  font-family: 'Varela Round', sans-serif;
  z-index: 3;
}

.compress-width {
  width: 70%;
  margin: 0 auto;
}

.resubmit {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.subtext {
  font-family: 'Varela Round', sans-serif;
  z-index: 3;
  color: #85b6ba;
  text-align: center;
  font-size: 16px;
}

.body {
  background-color: #E2E8F0;
  min-height: 100vh;
  width: 100%;
}

.main-container {
  position: relative;
  background-size: cover;
  background-color: #e4f7f8;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding: 0px !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  z-index: 3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  z-index: 3;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.highlight {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.box-image {
  position: relative;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 90%;
  margin: 0 auto;
  z-index: 3;
}

.box-image .App-logo {
  width: 50%;
  margin: 0 auto;
  height: 50%;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.participate-title {
  font-size: 24px;
  margin: 16px 0;
  font-weight: bold;
  z-index: 3;
}

.card-container {
  margin: 5vh 0;
  width: 90%;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 30, 77, 0.2);
  padding: 16px;
  z-index: 3;
}

.avatar-container {
  width: 96px;
  height: 96px;
  margin: 16px auto 4px auto;
  position: relative;
  border-radius: 50%;
  border: solid 2px rgba(0,0,0,0.64);
  padding: 8px;
}

.avatar-image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-input {
  cursor: pointer;
  width: 96px;
  height: 96px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.confetti {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.image-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.main-button {
  background-color: #D5773F !important;
  color: white !important;
}

.sub-button {
  background-color: #FED48B !important;
  color: #804726 !important
}

.overlay-loading {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.64);
  z-index: 100;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 111;
}

.card-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.click-me-text {
  color: #85b6ba;
  margin-top: 24px;
  font-weight: bold;
  font-size: 36px;
  z-index: 11;
}

.move-animation {
  animation: move-text 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.open-animation {
  transform: translateY(-48px);
  transition: 4s;
}

@keyframes move-text {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(16px);
  }

  100% {
    transform: translateY(0px);
  }
  
}

.title-text {
  font-weight: bold;
  font-size: 24px;
}

.accordion-button {
  width: 128px !important;
  background-color: transparent;
  padding: 0 !important;
}

.w100 {
  width: 100% !important;
}

.card-wish {
  box-shadow: 0px 2px 4px rgba(0, 30, 77, 0.2);
  padding: 24px;
  border-radius: 8px;
}